window {
	background-color: #1e1e2e;
	border-radius: 12px;
	border: 2px solid #89b4fa;
}

entry {
	background-color: #313244;
	color: #cdd6f4;
	border-radius: 8px;
	padding: 8px;
	margin: 8px;
}

#input {
	margin: 5px;
	border: 2px solid #89b4fa;
}

#inner-box {
	background-color: #1e1e2e;
}

#outer-box {
	padding: 8px;
}

row {
	padding: 4px;
	border-radius: 8px;
	color: #cdd6f4;
}

row:selected {
	background-color: #89b4fa;
	color: #1e1e2e;
}
